.navbar{
    position: fixed;
    height: fit-content;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: all 0.5s ease;
    border-bottom: 1px solid white;
    z-index: 100;
}
.navbar__logo{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__svg{
    font-size: 2.3rem !important;
}

.navbar__btns{
   display: none;
}
.navbar__links{
   display: none;
   li{
    padding-top: 1rem;
    
   }
   
}
.checkbox__input{
    display: none;
}
.checkbox__input:checked ~ .navbar__btns{
    display: block;
}
.checkbox__input:checked ~ .navbar__links{
    display: block;
}
.home__svg{
    font-size: 7rem !important;
}

@media screen and (min-width: 768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
        border: none;
    }
    .checkbox__label{
        display: none;
    }
    .navbar__logo{
        width: 20%;
    }
    .navbar__btns{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
    }
    .navbar__links{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        a:hover{
            text-decoration: underline #eb5e28;;
           }
    }
    .navbar__links li{
        padding-top: 0;
    }
    .home__svg{
        font-size: 7rem !important;
    }
}

