/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Corrigiendo el espaciado de los bloques de elementos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Estilizando elementos de lista */
ol, ul {
  list-style: none;
}

/* Corrigiendo la visualización de los hipervínculos */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Eliminando los contornos de los hipervínculos clicables */
a:focus {
  outline: none;
}
.material-symbols-outlined{
    font-size: 0px;
}