//reset
@import './src/styles/components/reset';
//componentes
@import './src/styles/components/nav';
@import './src/styles/components/home';
@import './src/styles/components/galerys';
@import './src/styles/components/login';
@import './src/styles/components/contact';
@import './src/styles/components/footer';
@import './src/styles/components/search';
@import './src/styles/components/addproduct';
@import './src/styles/components/keyboards';
@import './src/styles/components/keycaps';
@import './src/styles/components/switchs';

  
//varoables
$background: #252422;
$gray: #403d39;
$gray-l: #ccc5b9;
$acent: #eb5e28;
$primary: #fffcf2;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10vh;
  * {
    scrollbar-width: auto;
    scrollbar-color: #eb5e28 #403d39;
  }
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: #403d39;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #eb5e28;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }
}
body{
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2.1rem;
    color: $primary;
}
h2{
    font-size: 2rem;
    color: $primary;
}
h3{
    font-size: 1.5rem;
    color: $primary;
}
a{
    text-decoration: none;
    color: $primary;
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
    color: $primary;
}
ul{
    list-style: none;
}
.material-symbols-outlined{
    color: $primary;
}

.navbar{
    background-color: #25242263;
}
.checkbox__input:checked ~ .navbar{
    background-color: #252422
}

.home__button{
    background-color: $acent;
    color: $primary;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all 0.5s ease;
    &:active{
        background-color: $primary;
        color: $acent;
        transform: scale(1.1);
    }
}
.home__container1-text-2{
    color: $acent;
}


.product__card{
    background-color: $gray;
}

.product__card-img{
    background-color: $gray-l;
}
.product__card-description{
    a{
        padding-top: 10px;
        color: $acent;
    }
}
.login__form{
    background-color: $gray;
}
.disabled{
    display: none;
}
.login__input{
    
    input{
        background-color: $gray-l;
        font-weight: 600;
        font-size: 1.3rem;
    }
}
input{
    caret-color: $acent;
}

.contact{
    
    input{
        background-color: $gray-l;
        font-weight: 600;
        font-size: 1.3rem;
    } 
    textarea{
        background-color: $gray-l;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

 
  

 

 
  

  

  
 
  