@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Corrigiendo el espaciado de los bloques de elementos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Estilizando elementos de lista */
ol, ul {
  list-style: none;
}

/* Corrigiendo la visualización de los hipervínculos */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Eliminando los contornos de los hipervínculos clicables */
a:focus {
  outline: none;
}

.material-symbols-outlined {
  font-size: 0px;
}

.navbar {
  position: fixed;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  z-index: 100;
}

.navbar__logo {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__svg {
  font-size: 2.3rem !important;
}

.navbar__btns {
  display: none;
}

.navbar__links {
  display: none;
}
.navbar__links li {
  padding-top: 1rem;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .navbar__btns {
  display: block;
}

.checkbox__input:checked ~ .navbar__links {
  display: block;
}

.home__svg {
  font-size: 7rem !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border: none;
  }
  .checkbox__label {
    display: none;
  }
  .navbar__logo {
    width: 20%;
  }
  .navbar__btns {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
  }
  .navbar__links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
  }
  .navbar__links a:hover {
    -webkit-text-decoration: underline #eb5e28;
            text-decoration: underline #eb5e28;
  }
  .navbar__links li {
    padding-top: 0;
  }
  .home__svg {
    font-size: 7rem !important;
  }
}
.home {
  width: 100%;
  height: 95vh;
  background-image: url(./public/assets/img/keyboard.PNG);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home__container1 {
  display: none;
}

.home__container2 {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.home__container2 button {
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
}

.home__container3 {
  display: none;
}

@media screen and (min-width: 919px) {
  .home {
    flex-direction: row;
  }
  .home__container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }
  .home__product-img {
    height: 50px;
    width: 50px;
    background-size: contain;
    border-radius: 50%;
  }
  .home__container1-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.1rem;
    padding-right: 3rem;
    border-radius: 15px;
    margin-top: 30vh;
  }
  .home__container1-text-1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .home__container1-text-2 {
    font-size: 1.7rem;
    font-weight: 600;
    width: 300px;
  }
  .home__container1-card-text1 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .home__container1-card-text2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 3px;
  }
  .home__container2 {
    width: 33%;
  }
  .home__container2 span {
    font-size: 8rem;
  }
  .home__button {
    display: none;
  }
  .home__container3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home__container3-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid white;
    text-align: center;
    border-radius: 15px;
    padding: 2rem;
    transform: translatey(-100%);
    font-weight: 540;
  }
  .home__title {
    font-size: 5rem;
    font-weight: 700;
  }
  .home__subtitle {
    font-size: 2.1rem;
    font-weight: 600;
  }
}
.galery {
  padding: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.galery__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.galery__products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product__card {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 2rem !important;
}

.product__card-img {
  flex-grow: 1;
  height: 100%;
  width: 50%;
  background-color: red;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.product__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.product__card-description {
  flex-grow: 1;
  padding-left: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__card_text-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.product__card_text-price {
  font-weight: 200;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .galery__products {
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
  }
  .galery__nav {
    max-width: 1200px;
    padding: 1rem 0;
  }
  .product__card {
    width: 300px;
    height: 400px;
    flex-direction: column;
    border-radius: 15px;
  }
  .product__card:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
  }
  .product__card-img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .product__card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  .product__card_text-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .product__card_text-price {
    font-size: 1.9rem;
    font-weight: 200;
  }
  .product__card-description {
    padding-left: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .product__card-description a {
    text-align: center;
  }
}
.login {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form {
  width: 95%;
  max-width: 500px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 10vh;
  padding: 20px;
  overflow: hidden;
  background: rgba(64, 61, 57, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.login__title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login__description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.login__tip {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.login__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.login__input label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: white;
}
.login__input input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.login__input input:focus {
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(43, 43, 43);
}

.login__terms {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: white;
}
.login__terms a {
  color: #eb5e28;
  font-size: 1.1rem;
}

.login__checkbox {
  cursor: pointer;
}

.login__button {
  width: 100%;
  height: 50px;
  background-color: #eb5e28;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.login__button:active {
  transform: scale(1.05);
}
.login__button:hover {
  background-color: white;
  color: #eb5e28;
}

@media screen and (min-width: 768px) {
  .login {
    background-image: url(../e-commerce/public/assets/background/1.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.contact {
  margin-top: 2rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem 0;
  background-image: url(../e-commerce/public/assets/background/pattern.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact__container1 a:hover {
  -webkit-text-decoration: underline #eb5e28;
          text-decoration: underline #eb5e28;
}

.contact__container2 {
  margin-top: 2rem;
  width: 95%;
  max-width: 500px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2rem 1rem;
  background: rgba(64, 61, 57, 0.3);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}
.contact__container2 p {
  font-size: 1.7rem;
  padding-bottom: 10px;
}
.contact__container2 label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: white;
}
.contact__container2 input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.contact__container2 input:focus {
  outline: none;
  box-shadow: 1px 1px 5px 1px rgb(43, 43, 43);
}
.contact__container2 textarea {
  height: 12rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.contact__button {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  height: 50px;
  background-color: #eb5e28;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.contact__button:active {
  transform: scale(1.05);
}
.contact__button:hover {
  background-color: white;
  color: #eb5e28;
}

@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    background-size: cover;
    background-position: top;
  }
  .contact__container1 {
    width: 95%;
    max-width: 500px;
    gap: 2rem;
  }
  .contact__container2 {
    width: 95%;
    max-width: 500px;
  }
}
.footer {
  width: 100%;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer a {
  color: #eb5e28;
}
.footer img {
  width: 100px;
  height: 100px;
  background-color: #29394F;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10vh;
}
html * {
  scrollbar-width: auto;
  scrollbar-color: #eb5e28 #403d39;
}
html *::-webkit-scrollbar {
  width: 16px;
}
html *::-webkit-scrollbar-track {
  background: #403d39;
}
html *::-webkit-scrollbar-thumb {
  background-color: #eb5e28;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

body {
  background-color: #252422;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.1rem;
  color: #fffcf2;
}

h2 {
  font-size: 2rem;
  color: #fffcf2;
}

h3 {
  font-size: 1.5rem;
  color: #fffcf2;
}

a {
  text-decoration: none;
  color: #fffcf2;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: #fffcf2;
}

ul {
  list-style: none;
}

.material-symbols-outlined {
  color: #fffcf2;
}

.navbar {
  background-color: rgba(37, 36, 34, 0.3882352941);
}

.checkbox__input:checked ~ .navbar {
  background-color: #252422;
}

.home__button {
  background-color: #eb5e28;
  color: #fffcf2;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.home__button:active {
  background-color: #fffcf2;
  color: #eb5e28;
  transform: scale(1.1);
}

.home__container1-text-2 {
  color: #eb5e28;
}

.home__container1-card {
  background-color: #eb5e28;
}

.product__card {
  background-color: #403d39;
}

.product__card-img {
  background-color: #ccc5b9;
}

.product__card-description a {
  padding-top: 10px;
  color: #eb5e28;
}

.login__input input {
  background-color: #ccc5b9;
  font-weight: 600;
  font-size: 1.3rem;
}

input {
  caret-color: #eb5e28;
}

.login__tip {
  color: #ccc5b9;
}

.contact input {
  background-color: #ccc5b9;
  font-weight: 600;
  font-size: 1.3rem;
}
.contact textarea {
  background-color: #ccc5b9;
  font-weight: 600;
  font-size: 1.3rem;
}/*# sourceMappingURL=styles.css.map */